$body-color: slateblue;
$background-color: rgb(42, 42, 42);

body {
  background-color: $background-color;
  color: $body-color;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  background-color: green($color: #000000);
}

.container {
  width: 100%;
}

#editor, #pdf-viewer {
  float: left;
  width: 50%;
  height: 850px;
  border: none
}
